/* Reset básico */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Container principal */
.container {
    display: flex;
    height: 100vh; /* Faz o container ocupar toda a altura da tela */
    position: relative; /* Adicione isto para garantir que o z-index funcione corretamente */
}

/* Sidenav */
.sidenav {
    background-color: #3f51b5;
    width: 200px;
    flex: none;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 1; /* Ajuste conforme necessário */
    transition: width 0.3s ease;
}

/* Logo Toolbar */
.logo-toolbar {
    background-color: #3f51b5;
    padding: 16px;
}

.logo {
    max-height: 50px;
    max-width: 100%;
}

/* Lista de navegação */
.nav-list {
    padding: 0;
}

.mat-list-item {
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
}

.mat-list-item i {
    padding-right: 10px;
}

/* Conteúdo */
.content {
    padding: 16px;
    background-color: white;
    flex: 1;
    margin-left: 200px; /* Adiciona espaço para o sidenav */
    overflow: auto;
    transition: margin-left 0.3s ease;
}

/* Responsividade */
@media (max-width: 768px) {
    .sidenav {
        width: 50px;
    }

    .content {
        margin-left: 50px;
    }
}