<h1>PEPS Page</h1>

<div class="example-container">
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <!-- CPF Column -->
      <ng-container matColumnDef="documentValue">
        <mat-header-cell *matHeaderCellDef mat-sort-header> CPF </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.cpf}} </mat-cell>
      </ng-container>

      <!-- Other Columns -->
      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="funcao">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Função </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.siglaFuncao}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="orgao">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Órgão </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nomeOrgao}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dtInicioExercicio">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Início do Exercício </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.dtInicioExercicio | date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dtFimExercicio">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Fim do Exercício </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.dtFimExercicio | date}} </mat-cell>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="toggleExtraInfo(element)"> 
            <mat-icon>{{expandedElement === element ? 'expand_less' : 'expand_more'}}</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!-- Main Row Definitions -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple></mat-row>
    </mat-table>
  </div>

  <div *ngIf="expandedElement" class="extra-info">
    <h2>Informações extras</h2>
    <p><strong>Código do Órgão:</strong> {{expandedElement.codOrgao}}</p>
    <p><strong>Sigla da Função:</strong> {{expandedElement.siglaFuncao}}</p>
    <p><strong>Nível da Função:</strong> {{expandedElement.nivelFuncao}}</p>
    <p><strong>Fim da Carência:</strong> {{expandedElement.dtFimCarencia | date}}</p>
  </div>
</div>
