.example-container {
  display: flex;
  flex-direction: column;
  max-width: 1100px; /* Ajuste conforme necessário */
  margin: 0 auto;
  align-items: flex-start; /* Alinha os itens ao início do contêiner */
}

.mat-elevation-z8 {
  margin-top: 15px;
  width: 100%; /* Para alinhar a tabela ao centro */
}


.mat-header-cell, .mat-cell {
  padding-left: 0; 
  text-align: left; 
}

.mat-header-cell {
  padding-left: 25px; /* Adiciona padding à esquerda para deslocar um pouco para a direita */
}

.mat-header-row, .mat-row {
  display: flex;
  justify-content: flex-start; /* Garante que as linhas estejam alinhadas ao início */
}

.example-element-row {
  transition: all 0.3s ease;
}

.example-element-detail {
  background-color: #f1f1f1;
  display: table;
}

.mat-expansion-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-icon {
  cursor: pointer;
  font-size: 24px;
  vertical-align: middle;
}

.mat-cell {
  padding: 8px;
}

.extra-info {
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 20px;
  max-width: 250px; /* Tamanho menor para o painel de informações extras */
  width: 100%; /* Para ocupar toda a largura disponível dentro do contêiner */
  align-self: flex-start; /* Alinha o contêiner de informações extras ao início do contêiner pai */
}

.extra-info h2 {
  margin-top: 0;
}

.extra-info p {
  margin: 5px 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
