.home {
    margin-top: 70px; /* Ajusta o espaço superior conforme necessário */
    padding: 16px; /* Ajusta o padding geral do card */
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px; /* Adiciona espaço abaixo do título */
}

.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}
